*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/1280x1024.png);
    background-size: 100% 700px;
    background-repeat: no-repeat;
}

#a{
    text-align: center;
    padding: 220px;
}

.pass{
}
