*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/itl.cat_nature-wallpaper-hd_2844.png);
    background-size: 100% 700px;
    background-repeat: no-repeat;
}

.ak{
    color: red;
    size: ;
}

.a{
    color: red;
}

.b{
    color: white;
}

#farm{
    text-align: center;
    padding:220px;
}

h1{
    text-align: center;
    color: coral
}

